@model Ontourage.Web.Models.VoucherAggregateViewModel

@{
    ViewData["Title"] = "Подробная информация о туре";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Подробная информация о туре</h2>

<div>
    <hr />
    <dl class="dl-horizontal" id="voucher-content">
        <dt>
            @Html.DisplayNameFor(model => model.TourName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TourName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Country.CountryName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Country.CountryName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hotel.HotelName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hotel.HotelName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PassageInclude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PassageInclude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FoodType.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FoodType.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TourOperator.TourOperatorName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TourOperator.TourOperatorName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CountFreeVouchers)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CountFreeVouchers)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DepartureTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DepartureTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeparturePlace)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeparturePlace)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArrivalTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArrivalTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArrivalPlace)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArrivalPlace)
        </dd>
    </dl>
</div>

<input type="button" id="print-voucher" value="Распечатать ваучер" />


<div class="form-group">
    @Html.ActionLink("Купить", "BuyVoucher", new { id = Model.Id })
</div>
<div>
    @Html.ActionLink("Изменить", "EditVoucher", new { id = Model.Id }) |
    <a asp-action="GetAllVouchers">Вернуться к списку путевок</a>
</div>

@section Scripts
{
    <script src="~/js/voucher.js"></script>
}