@model PaymentChecksStoreViewModel
@{
    ViewData["Title"] = "GetAllPaymentChecks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Просмотр чеков</h2>

<form asp-controller="PaymentChecks" asp-action="GetThisDayChecks">
    <p>
        <input type="submit" name="SearchLower" value="Выбрать чеки за сегодня" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(modelItem => Model.PaymentChecks.First().Id)
            </th>
            <th>
                @Html.DisplayNameFor(modelItem => Model.PaymentChecks.First().Client.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(modelItem => Model.PaymentChecks.First().Client.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(modelItem => Model.PaymentChecks.First().Client.Passport)
            </th>
            <th>
                @Html.DisplayNameFor(modelItem => Model.PaymentChecks.First().Voucher.TourName)
            </th>
            <th>
                @Html.DisplayNameFor(modelItem => Model.PaymentChecks.First().CountOfVouchers)
            </th>
            <th>
                @Html.DisplayNameFor(modelItem => Model.PaymentChecks.First().TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(modelItem => Model.PaymentChecks.First().DateOfSale)
            </th>
            <th>
                @Html.DisplayNameFor(modelItem => Model.PaymentChecks.First().Status)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PaymentChecks)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Client.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Client.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Client.Passport)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Voucher.TourName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CountOfVouchers)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfSale)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.ActionLink("Подробнее", "ViewDetails", new { id = item.Id }) |
                </td>
            </tr>
        }
    </tbody>
</table>
