@model PaymentChecksStoreViewModel
@{
    ViewData["Title"] = "GetAllPaymentChecks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Просмотр чеков</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(modelItem => Model.PaymentChecks.First().Id)
            </th>
            <th>
                @Html.DisplayNameFor(modelItem => Model.PaymentChecks.First().ClientFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(modelItem => Model.PaymentChecks.First().ClientLastName)
            </th>
            <th>
                @Html.DisplayNameFor(modelItem => Model.PaymentChecks.First().ClientPassport)
            </th>
            <th>
                @Html.DisplayNameFor(modelItem => Model.PaymentChecks.First().VoucherName)
            </th>
            <th>
                @Html.DisplayNameFor(modelItem => Model.PaymentChecks.First().CountOfVouchers)
            </th>
            <th>
                @Html.DisplayNameFor(modelItem => Model.PaymentChecks.First().TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(modelItem => Model.PaymentChecks.First().DateOfSale)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PaymentChecks)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientFirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientLastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientPassport)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VoucherName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CountOfVouchers)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfSale)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Подробнее", "ViewDetails", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
