@model PaymentCheckViewModel
@{
    ViewData["Title"] = "Просмотр информации";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Просмотр информации</h2>
<div>
    <hr />
    <dl class="dl-horizontal" id="content">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Client.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Client.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Client.Passport)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.Passport)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Voucher.TourName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Voucher.TourName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CountOfVouchers)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CountOfVouchers)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateOfSale)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateOfSale)
        </dd>
    </dl>
</div>

<input type="button" id="print-check" value="Распечатать чек" />

<div>
    <a asp-action="GetAllPaymentChecks">Вернуться ко всем чекам</a>
</div>

@section Scripts
{
    <script src="~/js/check.js"></script>
}
